<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <div class="col d-flex flex-column align-items-center">

            
            <h5>Boupetique</h5>
            <p>"Mascotas más felices, vidas mejor cuidadas"</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            
            <div class="ms-md-3 d-flex flex-column gap-1 text-center text-md-start mt-3 mt-md-0">
                <h5>Contacto</h5>
                <a href="tel:+52-55-1234-5678" class="footer-l-p" style="color: #F6F0E3;">55-1234-5678</a>
                <a href="mailto:info@boupetique.com" class="footer-l-p " style="color: #F6F0E3; max-width: 130px;">info@boupetique.com</a>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <h5>Síguenos</h5>
            <div class="d-flex justify-content-center align-items-center gap-3 social-links">
                            <!-- Red Social 1 -->
                            <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                                class="social-link" aria-label="Instagram">
                                <img src="../assets/icons/insta.png" class="social-icon" alt="Instagram">
                            </a>

                            <!-- Red Social 2 -->
                            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="social-link"
                                aria-label="Facebook">
                                <img src="../assets/icons/facebook.png" class="social-icon" alt="Facebook">
                            </a>

                            <!-- Red Social 3 -->
                            <a href="https://youtube.com" target="_blank" rel="noopener noreferrer" class="social-link"
                                aria-label="YouTube">
                                <img src="../assets/icons/yotube.png" class="social-icon" alt="YouTube">
                            </a>
                        </div>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-center mb-0">&copy; 2026 Boupetique. Todos los derechos reservados.</p>
</div>
